<h3>Register Account</h3>

<form action="http://34.239.48.216:8085/MavenProjectPipeline/aether/registration" method="POST" id="mainform" enctype="application/json">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <label for="username">Enter a username:</label>
                <input class="textinput" type="text" name="username"><br>

                <label for="password">Enter a password:</label>
                <input class="textinput" type="password" name="password"><br>

                <label for="first_name">First name:</label>
                <input class="textinput" type="text" name="first_name"><br>

                <label for="last_name">Last name:</label>
                <input class="textinput" type="text" name="last_name"><br>

                <label for="region">Region:</label>
                <input class="textinput" type="text" name="region"><br>

                <label for="phrase">Enter a fun phrase:</label>
                <input class="textinput" type="text" name="phrase"><br>

                <label for="users_role">What type of account would you like?</label><br>
                <input class="textinput" type="text" name="users_role"><br>

                <input id="submitbutton" type="submit" value="Submit">
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</form>

<form action="http://localhost:8080/MavenProjectPipeline/aether/registration" method="POST" id="mainform" enctype="application/json">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <label for="username">Enter a username:</label>
                <input class="textinput" type="text" name="username"><br>

                <label for="password">Enter a password:</label>
                <input class="textinput" type="password" name="password"><br>

                <label for="first_name">First name:</label>
                <input class="textinput" type="text" name="first_name"><br>

                <label for="last_name">Last name:</label>
                <input class="textinput" type="text" name="last_name"><br>

                <label for="region">Region:</label>
                <input class="textinput" type="text" name="region"><br>

                <label for="phrase">Enter a fun phrase:</label>
                <input class="textinput" type="text" name="phrase"><br>

                <label for="users_role">What type of account would you like?</label><br>
                <input class="textinput" type="text" name="users_role"><br>

                <input id="submitbutton" type="submit" value="Submit">
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</form>