<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h3>Tournaments</h3>
            <div *ngFor='let tournament of tournaments$'>
                <h5>
                    <img
                        src="https://secure.gravatar.com/avatar/6d9fc4cfb129f85377fbe756de639d0a?r=r&s=40&d=https://s3.amazonaws.com/challonge_app/misc/challonge_fireball_gray.png">
                    {{tournament.tournament.name}} - {{tournament.tournament.participants_count}} entrants -
                    <span *ngIf="tournament.tournament.completed_at == null">
                        In Progress
                    </span>
                    <span *ngIf="tournament.tournament.completed_at != null">
                        Completed
                    </span>
                    <a routerLink="/view-tourney/{{tournament.tournament.url}}"><button>View</button></a>
                </h5>
            </div>
        </div>
        <div class="col-4" id="rankings">
            <h3>Rankings</h3>
            <table>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Wins</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Some Guy</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Some Dude</td>
                    <td>0</td>
                </tr>
            </table>
        </div>
    </div>
</div>





<!--
<h3>Users (Test)</h3>
<div *ngFor='let user of users$'>
    <h4>{{user.name}}</h4>
</div>
-->