<script>
    $(document).ready(function(){
   var $form = $('form');
   $form.submit(function(){
      $.post($(this).attr('action'), $(this).serialize(), function(response){
            // do something here on success
      },'json');
      return false;
   });
});
    </script>

<h3>Please enter your login information below.</h3><br>


<form action="http://34.239.48.216:8085/MavenProjectPipeline/aether/login" method="POST" id="mainform">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <label for="username">Username</label>
                <input class="textinput" type="text" name="username"><br>
                <label for="password">Password</label>
                <input class="textinput" type="password" name="password" style="margin-bottom: 20px;"><br>
                <input id="submitbutton" type="submit" value="Submit">
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</form>

<label>Don't have an account? Click <a routerLink='/register'>here</a> to register!</label>


<!--
    <h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>
        <a routerLink="/register" class="btn btn-link">Register</a>
    </div>
</form>
-->