/* You can add global styles to this file, and also import other style files */

header{
    height: 200px;
    overflow:hidden;
}

footer{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #545454;
}

h1{
    font-family: Arial !important;
    font-size: 80px !important;
    color: orange !important;
    margin-bottom: 500px !important;
}

h3{
    text-align: center;
}

body{
    background-color: #212121 !important;
    font-family: Bahnschrift !important;
    color: white !important;
}

nav{
    background-color: gray !important;
}

label{
    font-size: 20px !important;
}

p{
    font-size: 20px;
}

button,#submitbutton{
    background-color: #212121;
    color: white;
    border-radius:5px !important;
}

button:hover,#submitbutton:hover{
    background-color: white;
    color: black;
}

input[type="radio"]{
    opacity:1 !important;
}

.nav-link{
    font-size: 20px !important;
}

.textinput{
    color: white !important;
}

.form-control{
    color: white !important;
}

#headerimage{
    opacity: 0.4;
}

#mainbody{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    border-radius: 5px;
    background-color: #303030;
}

#radiolabel{
    margin-left: 20px;
}